@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* @import "tailwindcss"; */

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.auto-scroll {
  animation: scrollUp 20s linear infinite;
}
:root {
  --background: #6f0000;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);*/
  background: var(--background); 
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Lato", sans-serif;
    /* @apply bg-gradient-to-br from-emerald-900 via-sky-900 to-slate-900 text-white; */

}

/* body {
  @apply bg-gradient-to-r from-[#ffbebe] to-[#FD1D1D] p-4 font-sans;
} */

/* Add to your global CSS file */
@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

@keyframes float {
  0%, 100% { transform: rotate(3deg) translateY(0); }
  50% { transform: rotate(3deg) translateY(-10px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.clip-left {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}
